<section class="about section" data-anchor="about">
    <div class="about-wrap">
        <div class="column">
            <img src="/assets/img/dude.jpg" class="face-img" alt="Photo of Ludwig Lauer"></img>
        </div>
        <div class="column">
            <h3>About Me</h3>
            <p><strong>Welcome, I'm Ludwig Lauer.</strong> I would like to describe myself as a "Digital Allrounder". 
                </br>
                </br>
                I've been studying Computer Science for Media at the Harz University of Applied Sciences from 2011 - 2015.
                While constantly evolving and looking into new things, my passions are coding and computer graphics.
                I am fascinated in playing and analysing the latest computer games.
                This is the reason, why I really like game development. 
                When I'm not sitting in front of the computer, I spend my spare time with climbing onto mountains, playing guitar and fighting bears.
                </br>
                </br>
                Apart from coding, I also like to design and animate <span class="thingsAni">things.</span>
            </p>
            <a href="/assets/msc/cv-ludwig-lauer.pdf">Download my CV!</a>
        </div>
    </div>
</section>
