<section class="about section" data-anchor="about">
    <div class="about-wrap">
        <div class="column">
            <img src="\assets\img\dude.jpg" class="face-img"></img>
        </div>
        <div class="column">
            <h3>About Myself</h3>
            <p><strong>Welcome, I'm Ludwig Lauer.</strong> I think the best way to describe myself, is to call me a digital Allrounder.
                </br>
                </br>
                I've been studying Computer Science for Media at the Harz University of Applied Sciences since 2011.
                While constantly evolving and looking into new things, my passions are coding and computer graphics.
                This is why I really like game development.
                In my spare time I go climbing and create music.
                </br>
                </br>
                I also like to animate <span class="thingsAni">things.</span>
            </p>
            <a>Download my CV!</a>
        </div>
    </div>
</section>
