<div class="sidebar">
    <header>
        <div class="logo"><a href="#welcome">{% include icons/logo.html %}</a></div>
        <nav id="navigation">
            <a data-menuanchor="about" href="#about">About Me</a>
            <a data-menuanchor="work" href="#work">Work</a>
            <a data-menuanchor="contact" href="#contact">Contact</a>
            <!--<a class="blog-navitem" href="/blog.html">Blog</a>-->
        </nav>
    </header>
    <footer>
        <div class="social"></div>
        <p class="copyright">&copy; Made with &hearts; by Ludwig Lauer</p>
    </footer>
</div>

