<div class="sidebar">
    <header>
        <div class="logo"><a class="fp-navitem" href="/#welcome">{% include icons/logo.html %}</a></div>
        <nav id="navigation">
            <a class="fp-navitem" data-menuanchor="about" href="/#about">About Me</a>
            <a class="fp-navitem" data-menuanchor="work" href="/#work">Work</a>
            <a class="fp-navitem" data-menuanchor="contact" href="/#contact">Contact</a>
            <a class="blog-navitem" href="/blog.html">Blog</a>
        </nav>
    </header>
    <footer>
        <div class="social"></div>
	<p class="copyright">&copy; 2014-2017 by Ludwig Lauer.<br> <a href="/imprint.html">Imprint</a></p>
    </footer>
</div>
<a href="" class="sidebar-button icon-menu">
</a>
