<section class="work section" data-anchor="work">
    <div class="work-slider">
        <div class="thumb-wrap">
            <div class="thumb-container">
            <h2>This is what I've been doing in the past.</h2>
            {% for item in site.data.settings.works %}
                <div class="thumb-unit" data-folder="{{item.folder}}">
                    <div class="thumb-img" style="background-image: url(/assets/img/work/{{item.folder}}/thumb.jpg);">
                        <div class="thumb-overlay">
                            <strong class="thumb-description">{{item.description}}</strong>
                            <i class="icon-flash"></i>
                            <strong class="thumb-tags">{{item.tags}}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="work-wrap">
            <div class="work-container">
                <div class="work-unit">
                    <h3 class="project-title">...Loading Project...</h3>
                    <div class="project-load"></div>
                </div>
                <i class="icon-arrow-left work-return"></i>
            </div>
        </div>
        
    </div>
</section>