<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ludwig Lauer - Digital Generalist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Portfolio of Ludwig Lauer. Design & Development for everything digital">
  <meta name="author" content="Ludwig Lauer">
  <meta name="google-site-verification" content="WcWR2eNEzTExLToxzKmtsPdIf85qGx-dWfWsWMB2E6g" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

{% include sidebar.html %}
<noscript>
  Please activate JavaScript to view this website.
</noscript>
<div class="content">
  {{ content }}
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/slimslider.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>